<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Places Autocomplete</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="directionForm">
    <ion-item>
      <input class="input" #autoCompleteInput formControlName="placeName" />
    </ion-item>
  </form>
  <div #mapElement class="map"></div>

  <div id="infowindow-content">
    <img src="" width="16" height="16" id="place-icon">
    <span id="place-name"  class="title"></span><br>
    <span id="place-address"></span>
  </div>

</ion-content>
